@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

/** Mixins para Componentes **/
@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    color: $colorTexto;
    padding: 1.5rem 4rem;
    font-size: 2rem;
    font-weight: 700; // Se unifica el font-weight y se elimina la declaración duplicada
    border: none;
    text-align: center;
    transition: background-color .3s; // Simplificación de las propiedades de transición
    display: block;
    width: 100%;
    margin: 5rem 0;

    @include tablet {
        display: inline-block; // Cambio para especificidad en tabletas
        width: auto; // Tamaño auto para adaptabilidad
        margin: 2rem; // Ajuste de márgenes para consistencia
    }

    &:hover {
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr); // Implementación efectiva para crear un sistema de grillas flexible
}
